<header>
  <img src="../assets/highwire-cropped.svg" alt="">
</header>
<main>
  <section>
    <h1>Headline goes here</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos placeat numquam. Quasi provident placeat perferendis tenetur vel adipisci sed impedit nostrum exercitationem consequatur beatae, suscipit vitae quidem perspiciatis! Placeat.</p>
  </section>
  <section>
    <h1>Headline goes here</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos placeat numquam. Quasi provident placeat perferendis tenetur vel adipisci sed impedit nostrum exercitationem consequatur beatae, suscipit vitae quidem perspiciatis! Placeat.</p>
  </section>
  <section></section>
</main>